<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guess Number Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="container">
        <h1>Guess the Number</h1>
        <form method="POST">
            <input type="hidden" name="name" value="{{ name }}">
            <label for="player_choice">Guess which number I'm thinking of... 1, 2, 3:</label>
            <input type="text" id="player_choice" name="player_choice" required>
            <button type="submit">Submit</button>
        </form>
        {% if error %}
        <p class="error">{{ error }}</p>
        {% endif %}
        {% if result %}
        <p>{{ result }}</p>
        <p>Game Count: {{ game_count }}</p>
        <p>{{ name }}'s Wins: {{ player_wins }}</p>
        <h3>Player Choice: {{ player }} </h3>
        <h3> Computer Choice: {{ computer }} </h3>
        <p>Your Winning Percentage: {{ win_percentage }}</p>
        {% endif %}
    </div>
</body>

</html>